.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .description {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
    max-width: 95%; /* Limit maximum width */
    word-wrap: break-word; /* Ensure words break if exceeding container width */
  }
  
  .signup-form {
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form label,
  .signup-form input,
  .signup-form button {
    display: block;
    width: 95%;
    margin-bottom: 10px;
  }
  
  .signup-form input,
  .signup-form button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid  #450336;
    border-radius: 4px;
  }
  
  .signup-form button {
    background-color:  #450336;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .signup-form button:hover {
    background-color:  #450336;
  }
  
  .login-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .login-link a {
    color:  #450336;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: 2.5rem; 
    color:  #450336; 
    margin-bottom: 10px;
  }
  